#COMPONENT_Register {
  height:100vh;
  display:flex;
  align-items:center;
  justify-content: center;
  background-color:@component-register-bg;

  .panel-body {
    padding-bottom: 0;
  }

  .panel-footer {
    padding-top: 0;
  }

  .help-block {
    display: none;
  }
}