<article id="ProjectsCreate" class="container">
    <div class="page-header">
        <h1>{{projectDetail.project.Name}}</h1>
    </div>
    <form name="projectDetailForm">
        <div class="row">
            <div class="form-group">
                <label>Project Goals</label>
                <p class="help-block">Example: Provide doggos an interactive map allowing them to log where they have buried their bones.</p>
                <textarea class="form-control" ng-model="projectDetail.project.Goal" ng-if="!projectDetail.project.GoalAnalyzed"></textarea>
            </div>
            <button type="button" class="btn btn-info pull-right" ng-if="projectDetail.project.Goal && !projectDetail.project.GoalAnalyzed" ng-click="projectDetail.analyzeGoal()">Analyze</button>
            <div ng-if="projectDetail.project.GoalAnalyzed">
                <div class="form-group analyzed-goal panel panel-default panel-body">
                    <p>
                        <span ng-repeat="word in projectDetail.project.AnalyzedGoal">
                            <span class="goal-word" ng-class="{'word-selected': word.Selected}" ng-click="word.Selected = !word.Selected">{{word.Word}}</span>
                            <span class="goal-word-space" ng-if="($index + 1) < projectDetail.project.AnalyzedGoal.length"> </span>
                        </span>
                    </p>
                </div>
                <button type="button" class="btn btn-info pull-right" ng-click="projectDetail.editGoal()">Edit Goal</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="text-center">
                <button type="button" class="btn btn-primary" ng-click><i class="fa fa-plus"></i> Add Object</button>
            </div>

        </div>
    </form>
</article>