<ui-view>
    <article id="Projects" class="container-fluid">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{'active': projects.tab == 'shared'}">
                <a href="#" ng-click="projects.selectTab('shared')">Shared Projects</a>
            </li>
            <li role="presentation" ng-class="{'active': projects.tab == 'yours'}">
                <a href="#" ng-click="projects.selectTab('yours')">Your Projects</a>
            </li>
            <li type="button" class="btn btn-primary pull-right" ng-click="projects.createNew()"><i class="fa fa-plus"></i> New Project</li>
        </ul>
        <div class="panel panel-default project-panel">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th ng-click="projects.selectSortOption('Name')">Name <i ng-if="projects.sortOption == 'Name'" class="fa" ng-class="{'fa-sort-desc': projects.sortReverse, 'fa-sort-asc': !projects.sortReverse}"></i></th>
                    <th>Owner</th>
                    <th ng-click="projects.selectSortOption('DateCreated')">Date Created <i ng-if="projects.sortOption == 'DateCreated'" class="fa" ng-class="{'fa-sort-desc': projects.sortReverse, 'fa-sort-asc': !projects.sortReverse}"></i></th>
                    <th>Last Modified By</th>
                    <th ng-click="projects.selectSortOption('DateLastModified')">Date Last Modified <i ng-if="projects.sortOption == 'DateLastModified'" class="fa" ng-class="{'fa-sort-desc': projects.sortReverse, 'fa-sort-asc': !projects.sortReverse}"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in projects.projects | projectfilter:projects.tab:projects.currentUser | orderBy:projects.sortOption:projects.sortReverse" ui-sref=".detail({id: project.$id})">
                    <td>{{project.Name}}</td>
                    <td>
                        <img class="projects-profile-pic" ng-src="{{projects.users[project.CreatedBy].ProfilePic ? ('assets/images/' + projects.users[project.CreatedBy].ProfilePic + '.png') : 'assets/images/doggoIcon.png'}}" ng-style="{'background-color': projects.users[project.CreatedBy].ProfilePicColor}">
                        {{projects.users[project.CreatedBy].Name + ' (' + projects.users[project.CreatedBy].Email + ')'}}
                    </td>
                    <td>{{project.DateCreated | date:'short'}}</td>
                    <td>
                        <img class="projects-profile-pic" ng-src="{{projects.users[project.LastModifiedBy].ProfilePic ? ('assets/images/' + projects.users[project.LastModifiedBy].ProfilePic + '.png') : 'assets/images/doggoIcon.png'}}" ng-style="{'background-color': (projects.users[project.LastModifiedBy].ProfilePic ? projects.users[project.LastModifiedBy].ProfilePicColor : 'transparent')}">
                        {{projects.users[project.LastModifiedBy].Name + ' (' + projects.users[project.LastModifiedBy].Email + ')'}}
                    </td>
                    <td>{{project.DateLastModified | date:'short'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </article>
    <div class="background-doggo">
        <img class="img-responsive" src="assets/images/computer-doggo.png" />
    </div>
</ui-view>