#COMPONENT_Login {
  height:100vh;
  display:flex;
  align-items:center;
  justify-content: center;
  background-color:@component-login-bg;

  .panel {
    button[type='submit'] {
      width: 100%;
    }

    .login-icon {
      height: 75px;
      width: 75px;
      opacity: 1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
    }
    .login-icon.disabled {
      opacity: 0.2;
    }
    .login-icon:hover {
      opacity: 1;
    }
  }

  form[name='LoginForm'] {
    margin-top: 20px;
  }

  .help-block {
    display: none;
  }
}